@{
    ViewData["Title"] = "About";

}
@model KidsClubApplication.Models.SuMessage

<!--Page Title-->
<section class="page-title" style="background-image:url(images/banner.jpg); border-image-width: 10%;">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <ul class="bread-crumb clearfix">
                <li><a href="index.html">Home</a></li>
                <li>Pages</li>
                <li>About</li>
            </ul>
            <h1>About</h1>
        </div>
    </div>
</section>
<!--End Page Title-->
<!-- About Section Three-->
<section class="about-section-three">
    <div class="auto-container">
        <div class="parallax-scene parallax-scene-1 anim-icons">
            
        </div>

        <div class="upper-box">
            <div class="row">
                <div class="image-column col-lg-6 col-md-12 col-sm-12 wow fadeInLeft">
                    <figure class="image"><img src="images/about/about-img-1.jpg" alt=""></figure>
                </div>
                <div class="image-column col-lg-6 col-md-12 col-sm-12 wow fadeInRight">
                    <figure class="image"><img src="images/about/about-img-3.jpg" alt=""></figure>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="title-column col-lg-4 col-md-6 col-sm-12">
                <div class="sec-title">
                    <span class="title">About Us</span>
                    <h2>
                        WHEN KIDS CLUB BEGAN
                    </h2>
                </div>
            </div>
            <div class="skill-column col-lg-4 col-md-6 col-sm-12">
                <!--Skills-->
                <div class="skills">
                    <!--Skill Item-->
                    <div class="skill-item">
                        <div class="skill-header clearfix">
                            <div class="skill-title">Education</div>
                            <div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="3000" data-stop="98">0</span>%</div></div>
                        </div>
                        <div class="skill-bar">
                            <div class="bar-inner"><div class="bar progress-line" data-width="98"></div></div>
                        </div>
                    </div>
                    <!--Skill Item-->
                    <div class="skill-item">
                        <div class="skill-header clearfix">
                            <div class="skill-title">Language & Culture</div>
                            <div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="3000" data-stop="88">0</span>%</div></div>
                        </div>
                        <div class="skill-bar">
                            <div class="bar-inner"><div class="bar progress-line" data-width="88"></div></div>
                        </div>
                    </div>
                    <!--Skill Item-->
                    <div class="skill-item">
                        <div class="skill-header clearfix">
                            <div class="skill-title">Music & Fun</div>
                            <div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="3000" data-stop="78">0</span>%</div></div>
                        </div>
                        <div class="skill-bar">
                            <div class="bar-inner"><div class="bar progress-line" data-width="78"></div></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-column col-lg-4 col-md-12 col-sm-12">
                <div class="text">
                    <p style="font-size: 18px; color: black; ">
                        Kaiviti Kids Club started in January 2021, with our aim to welcome our Fijian commmunity here in Southland and to provide the children with an opportunity to be themselves, speak their language
                        or practice their language in a space that embraces their cultural traditions.
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section Three -->
<!-- Video Section -->
<section class="video-section">
    <div class="auto-container">
        <div class="row">
            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="title">Watch Video</span>
                        <h2>Southland Kaiviti Kids Club Make Difference in the Life of Child</h2>
                    </div>
                </div>
            </div>

            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="image-box wow fadeInLeft">
                        <figure class="image"><a href="https://www.youtube.com/watch?v=gV5MGo1faW0" class="lightbox-image"><img src="~/images/about/video-img.jpg" alt=""><span class="play-btn fa fa-play"></span></a></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Video Section -->
<!-- Call To Action -->
<section class="call-to-action">
    <div class="parallax-scene parallax-scene-1 anim-icons">
        <span data-depth="0.50" class="parallax-layer icon icon-balloon-3"></span>
        <span data-depth="0.30" class="parallax-layer icon icon-star-6"></span>
        <span data-depth="0.40" class="parallax-layer icon icon-ball"></span>
        <span data-depth="0.20" class="parallax-layer icon icon-idea-2"></span>
        <span data-depth="0.50" class="parallax-layer icon icon-balloon-4"></span>
    </div>

    <div class="auto-container">
        <div class="content-box">
            <span class="title">Join Our New Session</span>
            <h2>Call For More Information <br><span>022 496 6109</span></h2>
            <div class="btn-box"><a asp-area="" asp-controller="Contact" asp-action="Index" class="theme-btn btn-style-two">View More</a></div>
        </div>
    </div>
</section>
<!--End Call To Action -->
<!-- Team Section -->
<section class="team-section">
    <div class="auto-container">
        <div class="sec-title text-center">
            <div class="title">Meet Our Awesome People</div>
            <h2>Teachers</h2>
        </div>

        <div class="row">
            <!-- Team Block -->
            <div class="team-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="~/images/about/team-mk.png" /></figure>
                        <div class="overlay-box">
                            <ul class="social-icon-colored">
                                <li><a href="https://www.facebook.com/koroiadi.sai"><span class="fab fa-facebook-f"></span></a></li>
                                <li><a href="#"><span class="fa fa-envelope"></span></a></li>
                                <li><a href="#"><span class="fa fa-phone-square"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="caption-box">
                        <h6 class="name"><a href="#">Sai Koroiadi</a></h6>
                        <span class="designation">Teacher</span>
                    </div>
                </div>
            </div>

            <!-- Team Block -->
            <div class="team-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="~/images/about/team-sk.png" /></figure>
                        <div class="overlay-box">
                            <ul class="social-icon-colored">
                                <li><a href="https://www.facebook.com/marina.marie.927"><span class="fab fa-facebook-f"></span></a></li>
                                <li><a href="#"><span class="fa fa-envelope"></span></a></li>
                                <li><a href="#"><span class="fa fa-phone-square"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="caption-box">
                        <h6 class="name"><a href="#">Marina Koroiadi</a></h6>
                        <span class="designation">Teacher</span>
                    </div>
                </div>
            </div>

            <!-- Team Block -->
            <div class="team-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="~/images/about/team-MQ.jpg" alt=""></figure>
                        <div class="overlay-box">
                            <ul class="social-icon-colored">
                                <li><a href="https://www.facebook.com/mereseini.qereqeretabua.14"><span class="fab fa-facebook-f"></span></a></li>
                                <li><a href="mailto: [mereseiniqereqeretabua@yahoo.com?subject= &body="><span class="fa fa-envelope"></span></a></li>
                                <li><a href="#"><span class="fa fa-phone-square"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="caption-box">
                        <h6 class="name"><a href="#">Mereseini Qereqeretabua</a></h6>
                        <span class="designation">Teacher</span>
                    </div>
                </div>
            </div>

            <!-- Team Block -->
            <div class="team-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="~/images/about/team-ST.jpg" alt=""></figure>
                        <div class="overlay-box">
                            <ul class="social-icon-colored">
                                <li><a href="https://www.facebook.com/sarah.mollison.752"><span class="fab fa-facebook-f"></span></a></li>
                                <li><a href="#"><span class="fa fa-envelope"></span></a></li>
                                <li><a href="#"><span class="fa fa-phone-square"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="caption-box">
                        <h6 class="name"><a href="#">Sarah Tuapati</a></h6>
                        <span class="designation">Teacher</span>
                    </div>
                </div>
            </div>

            <!-- Team Block -->
            <div class="team-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="~/images/about/team-SD.jpg" alt=""></figure>
                        <div class="overlay-box">
                            <ul class="social-icon-colored">
                                <li><a href="https://www.facebook.com/sekaia.drugudruguivalu.3"><span class="fab fa-facebook-f"></span></a></li>
                                <li><a href="#"><span class="fa fa-envelope"></span></a></li>
                                <li><a href="#"><span class="fa fa-phone-square"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="caption-box">
                        <h6 class="name"><a href="#">Sekaia Drugudruguivalu</a></h6>
                        <span class="designation">Teacher</span>
                    </div>
                </div>
            </div>

            <!-- Team Block -->
            <div class="team-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="~/images/about/team-FD.jpg" alt=""></figure>
                        <div class="overlay-box">
                            <ul class="social-icon-colored">
                                <li><a href="https://www.facebook.com/profile.php?id=100071930679836"><span class="fab fa-facebook-f"></span></a></li>
                                <li><a href="mailto: [fionadee67@icloud.com?subject= &body="><span class="fa fa-envelope"></span></a></li>
                                <li><a href="#"><span class="fa fa-phone-square"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="caption-box">
                        <h6 class="name"><a href="#">Fiona Drugudruguivalu</a></h6>
                        <span class="designation" style="font-size:18px">Teacher</span>
                    </div>
                </div>
            </div>

            <!-- Team Block -->
            <div class="team-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="~/images/about/team-TT.jpg" alt=""></figure>
                        <div class="overlay-box">
                            <ul class="social-icon-colored">
                                <li><a href="https://www.facebook.com/profile.php?id=100076409765804"><span class="fab fa-facebook-f"></span></a></li>
                                <li><a href="#"><span class="fa fa-envelope"></span></a></li>
                                <li><a href="#"><span class="fa fa-phone-square"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="caption-box">
                        <h6 class="name"><a href="#">Talemaitoga Tuapati</a></h6>
                        <span class="designation">Teacher</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
