@{
    ViewData["Title"] = "Subscribe";
    ViewData["Banner"] = "Subscribe";
}

<div class="row g-0 justify-content-md-center mb-5">
    <div class="col-9">
        <h1 class="text-center display-4"> @ViewData["Title"]</h1>
        <div class="content fs-4 lh-base">

            <h3 class="fs-3 mb-5">@Html.Raw(ViewData["sub"])</h3>
            <h3>Thank you for subscribing us! </h3>

            <h3>Email: southlandkaivitikidsclub@gmail.com</h3>
        </div>
    </div>
</div>