@{
    ViewData["Title"] = "Home Page";
}



<body>



    <!--Main Slider-->
    <section class="main-slider">
        <div class="rev_slider_wrapper fullwidthbanner-container"  id="rev_slider_one_wrapper" data-source="gallery">
            <div class="rev_slider fullwidthabanner" id="rev_slider_one" data-version="5.4.1">
                <ul>
                    <!-- Slide 1 -->
                    <li data-transition="parallaxvertical" data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1681" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="images/banner1.jpg">

                        <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="~/css/images/1.jpg">
                        
                        <div class="tp-caption tp-resizeme big-ipad-hidden tp-shape tp-shapewrapper rs-parallaxlevel-4" 
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingtop="[0,0,0,0]"
                        data-responsive_offset="on"
                        data-type="text"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-width="none"
                        data-hoffset="['30','15','15','15']"
                        data-voffset="['140','0','0','0']"
                        data-x="['left','left','left','left']"
                        data-y="['top','top','top','top']"
                        data-textalign="['top','top','top','top']"
                        data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                            <span class="icon icon-sun"></span>
                        </div>

                        <div class="tp-caption tp-resizeme big-ipad-hidden tp-shape tp-shapewrapper rs-parallaxlevel-5" 
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingtop="[0,0,0,0]"
                        data-responsive_offset="on"
                        data-type="shape"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-width="none"
                        data-hoffset="['-80','15','15','15']"
                        data-voffset="['200','0','0','0']"
                        data-x="['right','right','right','right']"
                        data-y="['top','top','top','top']"
                        data-textalign="['top','top','top','top']"
                        data-frames='[{"delay":1000,"speed":1000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                            <span class="icon icon-rainbow"></span>
                        </div>

                        <div class="tp-caption" 
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingtop="[0,0,0,0]"
                        data-responsive_offset="on"
                        data-type="text"
                        data-height="none"
                        data-width="['650','650','650','400']"
                        data-whitespace="normal"
                        data-hoffset="['0','0','0','0']"
                        data-voffset="['-210','-210','-150','-140']"
                        data-x="['center','center','center','center']"
                        data-y="['middle','middle','middle','middle']"
                        data-textalign="['top','top','top','top']"
                        data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                            <div class="title">Welcome to Southland Kaiviti Kids Club</div>
                        </div>

                        <div class="tp-caption" 
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingtop="[0,0,0,0]"
                        data-responsive_offset="on"
                        data-type="text"
                        data-height="none"
                        data-width="['750','750','750','400']"
                        data-whitespace="normal"
                        data-hoffset="['0','0','0','0']"
                        data-voffset="['-25','-25','-25','-25']"
                        data-x="['center','center','center','center']"
                        data-y="['middle','middle','middle','middle']"
                        data-textalign="['top','top','top','top']"
                        data-frames='[{"delay":2200,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                            <h2>Great Place for Your Child to Grow at</h2>
                        </div>
                        
                        <div class="tp-caption tp-resizeme" 
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingtop="[0,0,0,0]"
                        data-responsive_offset="on"
                        data-type="text"
                        data-height="none"
                        data-whitespace="normal"
                        data-width="['650','650','650','450']"
                        data-hoffset="['0','0','0','0']"
                        data-voffset="['190','190','130','120']"
                        data-x="['center','center','center','center']"
                        data-y="['middle','middle','middle','middle']"
                        data-textalign="['top','top','top','top']"
                        data-frames='[{"delay":3000,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                            <div class="link-box"><a asp-area="" asp-controller="About" asp-action="Index" class="theme-btn btn-style-one">Learn More</a></div>

                        </div>
                    </li>

                    <!-- Slide 1 -->
                    <li data-transition="parallaxvertical" data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1682" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="images/banner1.jpg">

                        <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="~/css/images/1.jpg">
                        
                        <div class="tp-caption tp-resizeme big-ipad-hidden tp-shape tp-shapewrapper rs-parallaxlevel-4" 
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingtop="[0,0,0,0]"
                        data-responsive_offset="on"
                        data-type="text"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-width="none"
                        data-hoffset="['30','15','15','15']"
                        data-voffset="['140','0','0','0']"
                        data-x="['left','left','left','left']"
                        data-y="['top','top','top','top']"
                        data-textalign="['top','top','top','top']"
                        data-frames='[{"delay":500,"speed":1000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                            <span class="icon icon-sun"></span>
                        </div>

                        <div class="tp-caption tp-resizeme big-ipad-hidden tp-shape tp-shapewrapper rs-parallaxlevel-5" 
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingtop="[0,0,0,0]"
                        data-responsive_offset="on"
                        data-type="shape"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-width="none"
                        data-hoffset="['-80','15','15','15']"
                        data-voffset="['200','0','0','0']"
                        data-x="['right','right','right','right']"
                        data-y="['top','top','top','top']"
                        data-textalign="['top','top','top','top']"
                        data-frames='[{"delay":1000,"speed":1000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                            <span class="icon icon-rainbow"></span>
                        </div>

                        <div class="tp-caption" 
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingtop="[0,0,0,0]"
                        data-responsive_offset="on"
                        data-type="text"
                        data-height="none"
                        data-width="['650','650','650','400']"
                        data-whitespace="normal"
                        data-hoffset="['0','0','0','0']"
                        data-voffset="['-210','-210','-150','-140']"
                        data-x="['center','center','center','center']"
                        data-y="['middle','middle','middle','middle']"
                        data-textalign="['top','top','top','top']"
                        data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                            <div class="title">Welcome to Southland Kaiviti Kids Club</div>
                        </div>

                        <div class="tp-caption" 
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingtop="[0,0,0,0]"
                        data-responsive_offset="on"
                        data-type="text"
                        data-height="none"
                        data-width="['750','750','750','400']"
                        data-whitespace="normal"
                        data-hoffset="['0','0','0','0']"
                        data-voffset="['-25','-25','-25','-25']"
                        data-x="['center','center','center','center']"
                        data-y="['middle','middle','middle','middle']"
                        data-textalign="['top','top','top','top']"
                        data-frames='[{"delay":2200,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                            <h2>Great Place for Your Child to Grow at</h2>
                        </div>
                        
                        <div class="tp-caption tp-resizeme" 
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingtop="[0,0,0,0]"
                        data-responsive_offset="on"
                        data-type="text"
                        data-height="none"
                        data-whitespace="normal"
                        data-width="['650','650','650','450']"
                        data-hoffset="['0','0','0','0']"
                        data-voffset="['190','190','130','120']"
                        data-x="['center','center','center','center']"
                        data-y="['middle','middle','middle','middle']"
                        data-textalign="['top','top','top','top']"
                        data-frames='[{"delay":3000,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
                            <div class="link-box"><a asp-area="" asp-controller="About" asp-action="Index" class="theme-btn btn-style-one">Learn More</a></div>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Main Slider-->
    <!-- About Section Two -->
    <section class="about-section-two" id="about-section">
        <div class="auto-container">
            <div class="parallax-scene parallax-scene-1 anim-icons">
                <span data-depth="0.20" class="parallax-layer icon icon-rainbow-3"></span>
                <span data-depth="0.40" class="parallax-layer icon icon-star-2"></span>
                <span data-depth="0.30" class="parallax-layer icon icon-star-5"></span>
                <span data-depth="0.50" class="parallax-layer icon icon-plane-2"></span>
            </div>

            <div class="sec-title text-center">
                <span class="title">Bula Families/Friends</span>
                <h2>Welcome to Southland <br> Kaiviti Kids Club</h2>
            </div>

            <div class="row">
                <!-- Content Column -->
                <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                    <div class="inner-column">
                        <div class="text">
                            <p style="font-size: 20px; color:black;  ">
                                Kids Club are all about precious things - children, and time. Kaiviti Kids Club provide weekly/fortnightly classes for
                                children during term times on Saturday from 1 pm until 3 pm.
                                <br> <br>What we do is small, but every small action leads to greater change when it comes to promoting
                                and nurturing the Fijian language and culture in Aotearoa.
                                <br> <br> Kaiviti Kids Club allows our chidren , experience fun social interaction, and develop a sense of belonging in a safe,
                                learning, and welcoming environment.
                            </p>


                        </div>
                        <ul class="list-style-two">
                            <li>To learn the language and culture through singing, dance and art.</li>
                            <li>To have deep connection to their language, culture and identity.</li>
                            <li>To develop meaningful relationships with each other through Fijian ways of knowing, being and doing.</li>
                        </ul>
                        <div class="btn-box"><a asp-area="" asp-controller="About" asp-action="Index" class="theme-btn btn-style-one">Discover More</a></div>
                    </div>
                </div>

                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="image-box">
                            <figure class="image wow fadeInLeft"><img src="images/home/home-img-1.jpg" alt=""></figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End About Section Two -->


   


    <!-- Fluid Section One -->
    <section class="fluid-section-one">
        <div class="outer-container clearfix">
            
            
            <!--Content Column-->
            <div class="content-column">
                <div class="parallax-scene parallax-scene-2 anim-icons">
                    <span data-depth="0.50" class="parallax-layer icon icon-cloud-2"></span>
                    <span data-depth="0.30" class="parallax-layer icon icon-cloud-3"></span>
                    <span data-depth="0.20" class="parallax-layer icon icon-butterfly"></span>
                    <span data-depth="0.40" class="parallax-layer icon icon-star-6"></span>
                </div>
                <div class="inner-column">
                    <!-- Sec Title -->
                    <div class="sec-title light">
                        <div class="title">Things For Kids</div>
                        <h2>Kids Activites</h2>
                    </div>
                    <div class="text">
                        To maintain the culture, language and identity for
                        our Fijian children.
                    </div>
                    <ul class="list-style-one">
                        <li>Movie night</li>
                        <li>Tug of war</li>
                        <li>Camping</li>
                        <li>Painting</li>
                        <li>Scavenger hunt</li>
                        <li>Sack races</li>
                    </ul>
                </div>
            </div>
            <!--Image Column-->
            <div class="image-column">
                <div class="inner-column" style="background-image:url(images/banner4.jpg); height: 100%;">
                    <figure class="image-box"><img src="~/images/banner4.jpg" alt=""></figure>
                </div>
            </div><img src="~/css/images/banner4.jpg" />
        </div>
    </section>
    <!-- End Fluid Section One -->


    <!-- Offers Section -->
    <section class="offers-section">
        <div class="auto-container">
            <div class="sec-title text-center">
                <span class="title">Features & Benefits</span>
                <h2>What We Offer</h2>
            </div>

            <div class="row justify-content-center">
                <!-- Offer Block -->
                <div class="offer-block col-xl-2 col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="icon-box wow rollIn"><span class="icon flaticon-abc-block"></span></div>
                        <h5><a href="about.html">2h saturday sessions</a></h5>
                    </div>
                </div>

                <!-- Offer Block -->
                <div class="offer-block col-xl-2 col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="icon-box wow rollIn" data-wow-delay="300ms"><span class="icon flaticon-parents"></span></div>
                        <h5><a href="about.html">Qualified Teachers</a></h5>
                    </div>
                </div>

                <!-- Offer Block -->
                <div class="offer-block col-xl-2 col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="icon-box wow rollIn" data-wow-delay="600ms"><span class="icon flaticon-teddy-bear-1"></span></div>
                        <h5><a href="about.html">Play <br>Areas</a></h5>
                    </div>
                </div>

                <!-- Offer Block -->
                <div class="offer-block col-xl-2 col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="icon-box wow rollIn" data-wow-delay="0ms"><span class="icon flaticon-horse"></span></div>
                        <h5><a href="about.html">Self identity</a></h5>
                    </div>
                </div>

                <!-- Offer Block -->
                <div class="offer-block col-xl-2 col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="icon-box wow rollIn" data-wow-delay="300ms"><span class="icon flaticon-knowledge"></span></div>
                        <h5><a href="about.html">Knowledge Classes</a></h5>
                    </div>
                </div>

                <!-- Offer Block -->
                <div class="offer-block col-xl-2 col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="icon-box wow rollIn" data-wow-delay="600ms"><span class="icon flaticon-stopwatch"></span></div>
                        <h5><a href="about.html">Culture&Tradition</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Offer Section -->










<script src="~/js/jquery.js"></script>
<script src="~/js/popper.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<!--Revolution Slider-->
<script src="~/plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="~/plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="~/plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="~/plugins/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="~/plugins/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="~/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="~/plugins/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="~/plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="~/plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="~/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="~/plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script src="~/js/main-slider-script.js"></script>
<!--Revolution Slider-->
<script src="~/js/jquery-ui.js"></script>
<script src="~/js/jquery.fancybox.js"></script>
<script src="~/js/owl.js"></script>
<script src="~/js/wow.js"></script>
<script src="~/js/appear.js"></script>
<script src="~/js/parallax.min.js"></script>
<script src="~/js/script.js"></script>
</body>